@import "tailwindcss";

@layer base{
  body{
    background-color: var(--color-navy-950);
    display: grid;
    place-items:center;
    min-height: 100dvh;
    color: white;
  }
}

@theme {
  --color-navy-950: #0a0c1c;
  --color-blue-950: #1b1937;
  --color-purple-500: #ab5cdb;

  --font-inter: "Inter", sans-serif;
  --font-lexend: "Lexend Deca", sans-serif;
  --shadow-stcs-cont:0 20px 20px rgba(23, 25, 41, 0.2031);
}

@utility text-preset-1 {
  font-family: var(--font-inter);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.25;
}

@utility text-preset-2 {
  font-family: var(--font-inter);
  font-size: 28px;
  font-weight: 700;
  line-height: 1.25;
}

@utility text-preset-3 {
  font-family: var(--font-inter);
  font-size: 24px;
  font-weight: 700;
  line-height: 1.2;
}

@utility text-preset-4 {
  font-family: var(--font-inter);
  font-size: 15px;
  font-weight: 400;
  line-height: 1.65;
}

@utility text-preset-5 {
  font-family: var(--font-lexend);
  font-size: 12px;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 1px;
  text-transform: uppercase;
}
